.landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://images.unsplash.com/photo-1516595210031-cc1a15733373?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2850&q=80");
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40vw;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10em;
}

@media only screen
    and (min-device-width: 375px) 
    and (max-device-width: 667px) {
        .logo {
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
            width: 100vw;
        }
        .logo-container {
            display: flex;
            justify-content: center;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%);
        }
        .landing-container {
            width: 100vw;
            height: 100vh;
        }
}

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) {
        .landing-container {
            width: 100vw;
            height: 100vh;
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
        }
        .button-container {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%);
        }
}

@media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) {
        .landing-container {
            width: 100vw;
            height: 100vh;
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
        }
        .button-container {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%);
        }
}