.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container svg {
    color: #ffffff;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side {
    display: flex;
    flex-direction: row;
}
.home {
    cursor: pointer;
}

.logo-text {
    width: 50%;
}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
        .logo-text {
            width: 100%;
            align-self: center;
        }
}
